//-------------- FONTS ------------- //

$Raleway:'Raleway', sans-serif;
$Opensans:'Open Sans', sans-serif;
$Cardo:'Cardo', serif;

// ------------- COLORS ----------- //

$white:#fff;

$btn-coral:#e84545;
$card-title-text:#2d3033;
$card-description-text:#6c7279;
$icon-color:#c6cacc;
$slider-backgr:#53354a;
$top-footer-backgr:#3a3e64;
$bottom-footer-backgr:#313454;
$bottom-footer-text:#808080;